﻿@{int i = 1;}
<div>
    <table style="width:300px">
        <tr>
            <th>№</th>
            <th>Name</th>
            <th>id</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @i
                </td>
                <td>
                    @item.name
                </td>
                <td>
                    @item.id
                </td>
                @{i = i + 1;}
            </tr>
                    }
    </table>
</div>
