﻿@model CustomModelToView.ModelData

    <div>

        @using (Html.BeginForm("RewriteUserData", "User", FormMethod.Post))
        {
            foreach (var item in Model.users)
            {
                <input type="hidden" value="@item.Id" name="user_id" />
                <table>
                    <tr>
                        <td>First Name</td>

                        <td>
                        <input type="text" value="@item.first_name" name="first_name" required />
                        
                        </td>
                    </tr>
                    <tr>
                        <td>Last Name</td>
                        <td><input type="text" value="@item.last_name" name="last_name" required /></td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td><input type="text" value="@item.email" name="email" required /></td>
                    </tr>
                    <tr>
                        <td>Password</td>
                        <td><input type="text" value="@item.password" name="password" required /></td>
                    </tr>
                    <tr>
                        <td>Create Date</td>
                        <td><input type="date" value="@item.createdate" name="createdate" required /></td>
                    </tr>
                    <tr>
                        <td>Birthday</td>
                        <td><input type="date" value="@item.birthday" name="birthday" required /></td>
                    </tr>
                    <tr>
                        <!--UserRoles-->
                        <td>Roles</td><td>
                            @{
                                bool checked_val = false;
                            }
                            @foreach (var itm in Model.roles)
                            {

                                foreach (var us_role in item.roles)
                                {
                                    if (us_role.id == itm.id)
                                    {
                                        checked_val = true;
                                        break;
                                    }
                                }
                                <div>
                                @Html.CheckBox(itm.name, checked_val)
                                @Html.Label(itm.name)
                                @{checked_val = false;}
                                    </div>

                            }
                        </td>

                    </tr>

                       <tr>
                           <td colspan="2"><input type="submit" name="Save" value="Save" /></td>
                       </tr>
                    
                </table>

            }
        }
    </div>
