﻿
<div>
    
    @using (Html.BeginForm("AddUserToDb", "User", FormMethod.Post))
    {

        <table>

            <tr>
   
                <td>First Name</td>
                <td>
                <input type="text" value="" name="first_name" required/></td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td><input type="text" value="" name="last_name" required /></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="text" value="" name="email" required /></td>
            </tr>
            <tr>
                <td>Password</td>
                <td> <input type="text" value="" name="password" required /></td>
            </tr>
            <input type="hidden" value="@DateTime.Today" name="createdate" required />

            <tr>
                <td>Birthday</td>
                <td><input type="date" value="@DateTime.Today" name="birthday" required /></td>
            </tr>
            <tr>
                <td>Gender</td>
                <td>
                    <select name="gender">
                        <option value="m" selected>male</option>
                        <option value="f">female</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Role</td>
                <td>
                    
                    @{
                        bool checked_role = true;
                        int i = 0;
                        }
                    @foreach (var item in Model)
                    {
                        string role_name = item.name;

                        <div>
                            @if (i == 0)
                            {
                                @Html.CheckBox(role_name, checked_role, new { required="required" })
                                @Html.Label(role_name)
                            }
                            else
                            {
                                @Html.CheckBox(role_name, checked_role, new { disabled="true" })
                                @Html.Label(role_name)
                            }
                       
  

                       @{
                           i = i + 1;
                           checked_role = false;
                       }

                        </div>
                    }
                    

                </td>
            </tr>

            <tr><td><input type="submit" name="Save" /></td></tr>
        </table>
    }

</div>
