﻿
<div>
    @{
        int i = 1;
    }
    <table>
        <tr>
            <th>Number</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Birthday</th>
        </tr>
        @foreach (var item in Model)
        {

            string f_name = item.first_name;
            string l_name = item.last_name;


            <tr>
                <td>@i</td>
                <td>@Html.ActionLink(f_name, "UserInformation", "user", new { id = item.Id }, null)</td>
                <td>@Html.ActionLink(l_name, "UserInformation", "user", new { id = item.Id }, null)</td>
                @{i = i + 1;}
                <td>@item.birthday</td>
            </tr>
            
                    }

    </table>
    
    @Html.ActionLink("Add user", "CreateUser", "User", null, null)
</div>
