﻿
   @{int id = 0; } 
<div>
    <table style="width:100%; text-align:center">
        <tr>
            <th style="text-align:center">First Name</th>
            <th style="text-align:center">Last Name</th>
            <th style="text-align:center">Email</th>
            <th style="text-align:center">Password</th>
            <th style="text-align:center">Createdate</th>
            <th style="text-align:center">Birthday</th>
            <th style="text-align:center">Gender</th>
        </tr>
            
            @foreach (var item in Model)
            {
                id = item.Id;
                <tr>
                    <td>@item.first_name</td>
                    <td>@item.last_name</td>
                    <td>@item.email</td>
                    <td>@item.password</td>
                    <td>@item.createdate</td>
                    <td>@item.birthday</td>
                    <td>
                        @if (item.genderlist == "m")
                        {
                           <p>male</p>
                        }
                        else
                        {
                            <p>female</p>
                        }</td>

                </tr>



                <tr>
                    <td>
                        Already in group:
                        @foreach (var itm in item.roles)
                        {
                            <strong>@itm.name;    </strong>
                        }
                    </td>
                </tr>
            }
       
        </table>
    @using (Html.BeginForm("RemoveUser", "User", FormMethod.Post))
            {
        <input type="hidden" name="user_id" value="@id" />
                <input type="submit" value="Remove" />
    }
    @using (Html.BeginRouteForm("change_user_inf"))
    {
        <input type="hidden" name="user_id" value="@id" />
        <input type="submit" value="Change" />
    }

</div>